<app-page-layout>
  <div class="basket-container">
    <div class="products">
      <h3>Productos seleccionados</h3>

      <mat-card *ngFor="let item of cartItems$ | async" class="cart-item">
        <div class="item-content">
          <img [src]="item.product.image" [alt]="item.product.title" />
          <div class="item-info">
            <div class="title-bar">
              <mat-card-title>{{ item.product.title }}</mat-card-title>
              <button
                mat-icon-button
                color="warn"
                aria-label="Eliminar"
                (click)="remove(item.product.id)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <mat-card-content>
              <p>Cantidad: {{ item.quantity }}</p>
              <p>
                Precio unitario:
                {{
                  item.product.price
                    | currency : "EUR" : "symbol" : "1.2-2" : "es-ES"
                }}
              </p>
              <p>
                Total:
                {{
                  item.product.price * item.quantity
                    | currency : "EUR" : "symbol" : "1.2-2" : "es-ES"
                }}
              </p>
            </mat-card-content>
          </div>
        </div>
      </mat-card>

      <div class="total">
        Total:
        <strong>{{
          total$ | async | currency : "EUR" : "symbol" : "1.2-2" : "es-ES"
        }}</strong>
      </div>
    </div>

    <div class="form">
      <h3>Datos de envío</h3>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="form.firstName" name="firstName" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Apellido</mat-label>
        <input matInput [(ngModel)]="form.lastName" name="lastName" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Dirección</mat-label>
        <input matInput [(ngModel)]="form.address" name="address" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Código Postal</mat-label>
        <input matInput [(ngModel)]="form.postalCode" name="postalCode" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Teléfono</mat-label>
        <input matInput [(ngModel)]="form.phone" name="phone" />
      </mat-form-field>

      <mat-checkbox [(ngModel)]="form.accepted"
        >Acepto los términos</mat-checkbox
      >

      <button
        mat-flat-button
        color="primary"
        class="full-width primary-button"
        (click)="submit()"
      >
        Finalizar compra
      </button>
    </div>
  </div>
</app-page-layout>
