.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  color: grey;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.spacer {
  flex: 1 1 auto;
}

.desktop-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.mobile-menu {
  display: none;
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: flex;
    align-items: center;
  }

  .logo {
    font-size: 1rem;
  }
}
